@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');

body {
  margin: 20px;
  background-color: #f7f7f7;
  font-family: "Arial";
  color:rgb(0, 0, 0);
}
a {
  color: #DB7F8E;
}
a:hover{
  color: #381D2A;
}
img {
  max-width: 100%;
}
nav {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 40px;
  font-size: 15px;
}
nav h1 {
  margin-right: auto;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 40px;
  color: #007AFE;
  text-decoration: none;
}
.startup {
  align-items: center;
  text-align: center;
  font-size: 18px;
}
.startup h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #007AFE;
  font-size: 60px;
  line-height: 2px;
}
.startup h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  font-size: 27px;
}
.startup p{
  font-size: 18px;
}
.startup button{
  background-color:#007AFE;
	border-radius:10px;
	border:1px solid #e5e5e5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 32px;
	text-decoration:none;
  }
.startup button:hover {
  background-color:#2b91ff;
  }
.startup button:active {
    position:relative;
    top:1px;
  }
.logres form{
  position: absolute;
    text-align: center;
    margin-top: 3em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #e5e5e59f;
    border-radius: 10px;
    padding: 40px;
}
.logres label{
  font-size: 15px;
}
.logres input{
  padding: 5px 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 3px;
  border: none;
}
.logres input:focus{
  border: 2px solid #555;
  outline: none;
}
.logres select {
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  background-color: white;
}
.logres h1{
  font-size: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.logres p{
  font-size: 15px;
  align-items: center;
}
.logres button{
  background-color:#79bcff;
	border-radius:10px;
	border:1px solid #e5e5e5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 32px;
	text-decoration:none;
  width: '200px'
}
.logres button:hover {
  background-color:#378de5;
}
.logres button:active {
    position:relative;
    top:1px;
}

.home {
  margin: 50px;
  align-content: left;
}
.home button{
  background-color:#007AFE;
	border-radius:10px;
	border:1px solid #e5e5e5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
  height: 55px;
  width: 250px;
	text-decoration:none;
  margin-bottom: 3px;
}
.home button:hover {
  background-color:#2b91ff;
}
.home button:active {
    position:relative;
    top:1px;
}
.desempeno {
  display: flex;
  align-content: center;
  justify-self: center;
  justify-content: center;
  
}
.tabla {
 
    display: flex;
    align-content: center;
    justify-self: center;
    justify-content: center;

}
.sub-entry {
  width: 50%;
  float: left;
}